{% extends 'base.html' %}
{% load static %}

{% block title %}JC - O essencial para o seu dia{% endblock %}

{% block content %}

<section class="hero-section">
    <div class="container">
        <div class="hero-text">
            <h1>O essencial para o seu dia, em poucos minutos.</h1>
            <p>Receba as principais notícias de Pernambuco, do Brasil e do mundo para você se informar de forma rápida e precisa.</p>
            <p>É gratuito, todo dia.</p>
            {% comment %} <div class="newsletter-form-wrapper">
                <form class="newsletter-form">
                    <input type="email" placeholder="Cadastre seu e-mail">
                    <button type="submit">Leia já!</button>
                </form>
            </div> {% endcomment %}
            <div class="newsletter-form-wrapper">
                <form class="newsletter-form" method="GET" action="{% url 'newsletter' %}">
                    <input type="email" placeholder="Cadastre seu e-mail" name="email">
                    <button type="submit">Leia já!</button>
                </form>
            </div>
        </div>
        <div class="hero-image">
        <img src="{% static 'jornal_commercio/images/hero-image.png' %}" alt="Pessoa lendo notícias em dispositivos">
        </div>
    </div>
</section>

<div class="page-wrapper">
    <section class="highlights-section">
        <div class="container">
            <h2>DESTAQUES</h2>

            {% if destaque_principal %}
            <div class="main-highlight">
                <div class="main-highlight-image">
                    <a href="#"> 
                        {% if destaque_principal.imagem_principal %}
                            <img src="{{ destaque_principal.imagem_principal.url }}" alt="{{ destaque_principal.titulo }}">
                        {% else %}
                            <img src="{% static 'jornal_commercio/images/gaza-main.png' %}" alt="Imagem padrão">
                        {% endif %}
                    </a>
                </div>
                <div class="main-highlight-text">
                    <span class="category-tag">{{ destaque_principal.get_categoria_display }}</span>
                    <h3><a href="#">{{ destaque_principal.titulo }}</a></h3>
                    <p>{{ destaque_principal.resumo }}</p>
                    </div>
            </div>
            {% else %}
                <p>Nenhuma notícia de destaque encontrada.</p>
            {% endif %}

            {% if destaques_secundarios %}
            <div class="secondary-highlights">

                {% for noticia in destaques_secundarios %}
                <article class="news-card">
                    <a href="#"> {% if noticia.imagem_principal %}
                            <img src="{{ noticia.imagem_principal.url }}" alt="{{ noticia.titulo }}">
                        {% else %}
                            <img src="{% static 'jornal_commercio/images/cnh.png' %}" alt="Imagem padrão">
                        {% endif %}
                    </a>
                    <span class="category-tag">{{ noticia.get_categoria_display }}</span>
                    <h4><a href="#">{{ noticia.titulo }}</a></h4>
                </article>
                {% endfor %}

            </div>
            {% endif %}
        </div>
    </section>
</div>

{% endblock content %}