{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/autenticacao_style.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>Login</h2>
    <form method="POST" class="auth-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="auth-btn" type="submit">Entrar</button>
    </form>
    <div class="auth-link">
        Precisa de uma conta? <a href="{% url 'registrar' %}">Registre-se Agora</a>
    </div>
</div>
{% endblock content %}

{% comment %} {% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meu Projeto</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'perfil' %}">Perfil</a>
                    
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: contents;">
                        {% csrf_token %}
                        <a class="nav-item nav-link" href="#" onclick="document.getElementById('logout-form').submit();">Sair</a>
                    </form>

                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'registrar' %}">Registrar</a>
                {% endif %}
            </div>
        </div>
    </nav>
  <div class="content-section">
    <form method="POST">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Login</legend>
        {{ form.as_p }}
      </fieldset>
      <div class="form-group">
        <button class="btn btn-outline-info" type="submit">Entrar</button>
      </div>
    </form>
    <div class="border-top pt-3">
      <small class="text-muted">
        Precisa de uma conta? <a class="ml-2" href="{% url 'registrar' %}">Registre-se Agora</a>
      </small>
    </div>
  </div>
{% endblock content %} {% endcomment %}

