{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'usuario/css/login_style.css' %}">
{% endblock %}

{% block content %}

<div class="login-fullscreen-bg"></div>

<div class="login-container">
    
    <div class="login-card">
        
        <img src="{% static 'usuario/images/logo_jc1.png' %}" alt="Logo JCPE" class="login-logo">
        
        <p class="login-subtitle">Ou faça seu cadastro aqui</p>
        
        <div class="social-login">
            <a href="#" class="social-btn google">
                <img src="{% static 'usuario/images/google_icon.png' %}" alt="Google"> Login com Google
            </a>
            <a href="#" class="social-btn facebook">
                <img src="{% static 'usuario/images/facebook_icon.png' %}" alt="Facebook"> Login com Facebook
            </a>
        </div>
        
        <div class="separator">
            <span>OU</span>
        </div>
        
        <form method="post" class="login-form">
            {% csrf_token %}
            
            {{ form.non_field_errors }}

            <p>
                <label for="id_username">E-mail:</label>
                {{ form.username }} 
                {{ form.username.errors }}
            </p>
            
            <p class="password-input-wrapper">
                <label for="id_password">Senha:</label>
                {{ form.password }}
                <span class="password-toggle" onclick="togglePasswordVisibility()">&#128065;</span>
                {{ form.password.errors }}
            </p>
            
            <button type="submit" class="btn-login-submit">
                Entrar <span class="arrow-right">→</span>
            </button>
            
            <a href="{% url 'password_reset' %}" class="forgot-password" class="forgot-password">Esqueceu a senha?</a>
            
        </form>
        
        <p class="register-prompt">
            Precisa de uma conta? <a href="{% url 'registrar' %}">Registre-se Agora</a>
        </p>
        
    </div> </div> {% endblock content %}


{% block scripts %}
    <script src="{% static 'usuario/js/login.js' %}"></script>
{% endblock scripts %}