{% extends 'base.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/autenticacao_style.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container logout-container">
    <h2>Você saiu da sua conta.</h2>
    <div class="auth-link">
      <a href="{% url 'usuario:login' %}">Fazer Login Novamente</a>
    </div>
</div>
{% endblock content %}

{% comment %} {% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Meu Projeto</a>
        <div class="collapse navbar-collapse">
            <div class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <a class="nav-item nav-link" href="{% url 'perfil' %}">Perfil</a>
                    
                    <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: contents;">
                        {% csrf_token %}
                        <a class="nav-item nav-link" href="#" onclick="document.getElementById('logout-form').submit();">Sair</a>
                    </form>

                {% else %}
                    <a class="nav-item nav-link" href="{% url 'login' %}">Login</a>
                    <a class="nav-item nav-link" href="{% url 'registrar' %}">Registrar</a>
                {% endif %}
            </div>
        </div>
    </nav>
  <h2>Você saiu da sua conta.</h2>
  <div class="border-top pt-3">
    <small class="text-muted">
      <a href="{% url 'login' %}">Fazer Login Novamente</a>
    </small>
  </div>
{% endblock content %} {% endcomment %}

