{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'usuario/css/login_style.css' %}">
{% endblock %}

{% block content %}

<div class="login-fullscreen-bg"></div>

<div class="login-container">
    <div class="login-card registration-card">

        <img src="{% static 'usuario/images/logo_jc1.png' %}" alt="Logo JCPE" class="login-logo">
        <h2 class="registration-title">Crie sua conta</h2>

        <div class="step-indicator">
            <div class="step active"></div> <div class="step active"></div> <div class="step active"></div> <div class="step active"></div> <div class="step"></div> </div>

        <form method="post" class="login-form registration-form">
            {% csrf_token %}
            {{ form.non_field_errors }}

            <div class="interest-form-group">
                <label>{{ form.interesses.label }}</label>
                <span class="interest-subtitle">Isso nos ajudará a recomendar matérias do seu interesse.</span>
                {{ form.interesses.errors }}

                <div class="interest-grid">
                    {% for choice in form.interesses %}
                    <label class="interest-card" for="{{ choice.id_for_label }}">
                        {{ choice.tag }} 

                        <div class="interest-image-wrapper">
                            <img src="{% static 'usuario/images/interesses/' %}{{ choice.data.value }}.jpg" alt="{{ choice.data.label }}">
                            <div class="interest-label">{{ choice.data.label }}</div>
                        </div>
                    </label>
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn-login-submit">
                Próximo <span class="arrow-right">→</span>
            </button>

        </form>

    </div> </div> {% endblock content %}